<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rafae.cmon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Contactos" />
        <activity android:name=".Perfil" />
        <activity android:name=".Perfil2" />
        <activity android:name=".Perfil3" />
        <activity android:name=".Perfil4" />
        <activity android:name=".Perfil5" />
        <activity android:name=".Favoritos" />
        <activity android:name=".Ajustes" />
        <activity android:name=".Notificaciones" />
        <activity android:name=".Ayuda" />
        <activity android:name=".DarBaja" />
        <activity android:name=".Start1" />
        <activity android:name=".Start2" />
        <activity android:name=".Start3" />
        <activity android:name=".Start4" />
        <activity android:name=".Start5" />
        <activity android:name=".Result1" />
        <activity android:name=".Result2"/>
    </application>

</manifest>
